group '{{groupId}}'

apply plugin: 'java'
apply plugin: 'eclipse'
apply plugin: 'idea'
apply plugin: 'net.serenity-bdd.aggregator'

sourceCompatibility = {{javaVersion}}

repositories {
    maven {
        url "{{remoteRepository}}"
    }
    mavenLocal()
}
buildscript {
    repositories {
        maven {
            url "{{remoteRepository}}"
        }
        mavenLocal()
        mavenCentral()
    }

    dependencies {
        classpath("net.serenity-bdd:serenity-gradle-plugin:{{serenityV}}")
    }
}

ext {
    serenityVersion = '{{serenityV}}'
    serenityCucumberVersion = '{{cucumberV}}'
    lombokVersion = '{{lombookV}}'
    junit = '{{junitV}}'
    hamcrest = '{{hamcrestV}}'
}


dependencies {
    implementation "net.serenity-bdd:serenity-core:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-junit:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-screenplay:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-screenplay-rest:$rootProject.ext.serenityVersion"
    implementation "net.serenity-bdd:serenity-cucumber:$rootProject.ext.serenityCucumberVersion"

    //Test compilation
    testImplementation "junit:junit:$rootProject.ext.junit"
    testImplementation "org.hamcrest:hamcrest-all:$rootProject.ext.hamcrest"

    //Lombok dependencies
    compileOnly "org.projectlombok:lombok:${lombokVersion}"
    annotationProcessor  "org.projectlombok:lombok:${lombokVersion}"
    testCompileOnly  "org.projectlombok:lombok:${lombokVersion}"
}