{
    "componentes": [
        {
            "componente": {{componentName}}",
            "fecha_definicion": {{date}},
            "activo": {{status}},
            "ruta": [
                {
                    "nombre_feature": "{{featureName}}",
                    "escenarios": [

                    ]
                }
            ]
        }
    ]
}