{
    "componentes": [
        {
            "componente": "{{componentName}}",
            "fecha_definicion": "{{date}}",
            "activo": {{status}},
            "ruta":{{features}}
        }
    ]
}